@model QuizApplicationMVCDotNetFramework.BO.ResultBO

@{
    ViewBag.Title = "Report Card";
}

<h2>Results</h2>
<table style="width:350px;border:1px solid #dddddd;" class="table table-striped">
    <tbody class="thread-light">
        <tr>
            <td scope="col">@Html.DisplayNameFor(model => model.FirstName)</td>
            <th scope="row">@Html.DisplayFor(model => model.FirstName, new { @style = "width:50px;" })</th>
        </tr>
        <tr>
            <td scope="col">@Html.DisplayNameFor(model => model.LastName)</td>
            <th scope="row">@Html.DisplayFor(model => model.LastName, new { @style = "width:50px;" })</th>

        </tr>
        <tr>
            <td scope="col">@Html.DisplayNameFor(model => model.UserId)</td>
            <th scope="row">@Html.DisplayFor(model => model.UserId, new { @style = "width:50px;" })</th>

        </tr>
        <tr>
            <td scope="col">@Html.DisplayNameFor(model => model.Email)</td>
            <th scope="row">@Html.DisplayFor(model => model.Email, new { @style = "width:50px;" })</th>
        </tr>
        <tr>
            <td scope="col">@Html.DisplayNameFor(model => model.Marks)</td>
            <th scope="row">@Html.DisplayFor(model => model.Marks, new { @style = "width:50px;" })</th>
        </tr>
        <tr>
            <td scope="col">Status</td>
            @if (Model.Marks > 3)
            {

                <th scope="row">Pass</th>
            }
            else
            {
                
                <th scope="row">Fail</th>
            }
        </tr>


    </tbody>
</table>

<table class="table table-hover">
    <thead class="thread-light">
        <tr>
            @*<th scope="col">@Html.DisplayNameFor(model => model.Answers.FirstOrDefault().UserId)</th>*@
            <th scope="col">@Html.DisplayNameFor(model => model.Answers.FirstOrDefault().QId)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Answers.FirstOrDefault().Question)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Answers.FirstOrDefault().Answer)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Answers.FirstOrDefault().ChosenAnswer)</th>
            <th scope="col"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Answers)
        {
            <tr>
                <!--<td scope="row">-->@*@Html.DisplayFor(model => item.UserId, new { @style = "width:50px;" })*@<!--</td>-->
                <td>@Html.DisplayFor(model => item.QId, new { @style = "width:50px;" })</td>
                <td>@Html.DisplayFor(model => item.Question, new { @style = "width:50px;" })</td>
                <td>@Html.DisplayFor(model => item.Answer, new { @style = "width:50px;" })</td>
                <td>@Html.DisplayFor(model => item.ChosenAnswer, new { @style = "width:50px;" })</td>
                <td>
                    @if (item.Answer == item.ChosenAnswer)
                    {
                        <img src="~/Content/Images/tick.jpg" width="25" />
                    }
                    else
                    {
                        <img src="~/Content/Images/cross.jpg" width="25" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.HiddenFor(model => model.Marks)


@*Quiz application.*@