@model IEnumerable<QuizApplicationMVCDotNetFramework.BO.AnswerBO>

@{
    ViewBag.Title = "ShowResult";
}

<h2>ShowResult</h2>

<div>
    <h4>AnswerBO</h4>
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChosenAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChosenAnswer)
        </dd>

    </dl>*@
</div>


