@model IEnumerable<QuizApplicationMVCDotNetFramework.BO.AnswerBO>

@{
    ViewBag.Title = "ShowResult";
}

<h2>ShowResult</h2>

@*@using (Html.BeginForm("GetResult", "Quiz", FormMethod.Post))*@

@*@foreach (var item in Model)*@
{
    @*var row_id = item.QId;
    <tr class="role" id="tr_Role_@Model.Count()">*@
<h4>AnswerBO @Model.Count()</h4>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().UserId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstOrDefault().UserId, new { @style = "width:50px;" })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().QId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstOrDefault().QId, new { @style = "width:50px;" })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Question)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstOrDefault().Question, new { @style = "width:50px;" })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Answer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstOrDefault().Answer, new { @style = "width:50px;" })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ChosenAnswer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstOrDefault().ChosenAnswer, new { @style = "width:50px;" })
                </dd>

            </dl>

        </div>
    </tr>
}

